<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Properties>
        <Property name="filename">../log/LongNAMEtOmAKESureBeseenLog.log</Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>

        <File name="file" fileName="${filename}" immediateFlush="true" append="false">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>


        <!--<RollingFile name="RollingFile" fileName="${filename}"-->
                     <!--filePattern="log/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">-->
            <!--<PatternLayout pattern="%d{yyyy-MM	-dd 'at' HH:mm:ss z} %-5level %class{36} %L %M - %msg%xEx%n"/>-->
            <!--<SizeBasedTriggeringPolicy size="50MB"/>-->
        <!--</RollingFile>-->
    </Appenders>

    <Loggers>
        <Root level="debug">
            <AppenderRef ref="file" level="info"/>
            <!--<AppenderRef ref="RollingFile" level="info"/>-->
            <AppenderRef ref="Console" level="info"/>
        </Root>
    </Loggers>
</Configuration>

